<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ReservasYa!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:replace="fragments/commons/styles :: link-styles">Links</th:block>
</head>
<body class="home-body">
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
    <div class="text-center">
    <div class="text">
             <hr/>
             <h4 style="color: green;">Se ha guardado correctamente. </h4>
             <pre style="color: green;">
                <code>
                    <th:block th:if="${lastTransaction != null}">
                        <span th:text="'Ultima transaccion: #' + ${lastTransaction.id}"></span>
                        <span th:text="'Se gasto ' + ${lastTransaction.amount} + ' pesos.'"></span>
                    </th:block>
                    <span th:if="${pointsBefore != null}" th:text="${'Tenia ' + pointsBefore + ' puntos.'}"></span>
                    <span th:if="${pointsConverted != null}" th:text="${'Convirtio ' + pointsConverted + ' puntos.'}"></span>
                    <span th:if="${newPoints != null}" th:text="${'Tiene ' + newPoints + ' puntos.'}"></span>
                    <span th:if="${earnedPoints != null}" th:text="${'Gano ' + earnedPoints + ' puntos.'}"></span>
                </code>
             </pre>
    </div>




        <h1>GRACIAS POR SU COMPRA</h1>
        <p>
            <a id="volver" href="#" class="btn btn-success btn-lg">Comprar mas!</a>
        </p>
    </div>
</div>

<div th:replace="searchbox/searchbox :: boxes"></div>


<footer class="eva-3-footer bottom-footer" th:insert="~{fragments/footer :: footer}">&copy; 2018 The Static Templates</footer>
<th:block th:replace="fragments/commons/script :: link-scripts">Links</th:block>
<script  th:src="@{~/resources/js/displayOrHideFragment.js}"> </script>
<script  th:src="@{~/resources/js/searchBoxDisplay.js}"> </script>
</body>
</html>
