<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!--/*  Multiple fragments may be defined in one file */-->
<th:block th:fragment="airline-panel">
<div class="container" id="addAirline-panel" style="display: none" >
    <div class="text-center"><h3>Agregar Aerolinea</h3></div>
    <div id="resultContainer" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>

    <form id="addAirlineForm" method="post"  th:object="${abmAirlineForm}" th:action="@{/panel/admin/airline/add}">

        <div class="form-group">
            <label for="airlineName"><strong>Nombre de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm" id="airlineName" aria-describedby="airlineNameHelp" th:field="*{addName}">
            <small id="airlineNameHelp" class="form-text text-muted">Nombre de la aerolinea a crear.</small>
        </div>

        <div class="form-group">
            <label for="shortName"><strong>Nombre corto de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm" id="shortName" aria-describedby="shortNameHelp" th:field="*{addShortName}">
            <small id="shortNameHelp" class="form-text text-muted">Nombre corto de la aerolinea.</small>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Guardar</button>
        </div>
    </form>

</div>
<div class="container" id="editAirline-panel" style="display: none" >

    <div class="text-center"><h3>Editar Aerolinea</h3></div>
    <div id="resultContainer" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>
    <form id="editAirlineForm" method="post"  th:object="${abmAirlineForm}" th:action="@{/panel/admin/airline/edit}">
          <div class="form-group">
              <label for="airlineId"><strong th:text="Aerolinea"></strong></label>
              <select type="text" class="form-control form-control-sm" aria-describedby="airlineIdHelp" th:id="airlineId" th:field="*{editId}">
                <option th:each="u : ${airlines}" th:value="${u.id}" th:text="${u.name}"></option>
              </select>
              <small id="airlineIdHelp" class="form-text text-muted">Elija la aerolinea que quiera modificar</small>
          </div>

        <div class="form-group">
            <label for="airlineName"><strong>Nombre de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm" id="airlineName" aria-describedby="airlineNameHelp" th:field="*{editName}">
            <small id="airlineNameHelp" class="form-text text-muted">Nombre de la aerolinea a crear.</small>
        </div>

        <div class="form-group">
            <label for="shortName"><strong>Nombre corto de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm" id="shortName" aria-describedby="shortNameHelp" th:field="*{editShortName}">
            <small id="shortNameHelp" class="form-text text-muted">Nombre corto de la aerolinea.</small>
        </div>


        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Guardar</button>
        </div>
    </form>

</div>
<div class="container" id="removeAirline-panel"  style="display: none" >

    <div class="text-center"><h3>Eliminar Aerolinea</h3></div>
    <div id="resultContainer" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>
       <form th:id="deleteAirlineForm" method="post"  th:object="${abmAirlineForm}" th:action="@{/panel/admin/airline/delete}">
             <div class="form-group">
                 <label for="airlineId"><strong th:text="Aerolinea"></strong></label>
                 <select type="text" class="form-control form-control-sm" aria-describedby="airlineIdHelp" th:id="deleteAirlineId" th:field="*{deleteId}">
                   <option th:each="u : ${airlines}" th:value="${u.id}" th:text="${u.name}"></option>
                 </select>
                 <small id="airlineIdHelp" class="form-text text-muted">Elija el usuario que quiera eliminar</small>
             </div>

           <div class="text-center">
             <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Eliminar</button>
           </div>
       </form>

</div>
</th:block>
</body>
</html>
