<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!--/*  Multiple fragments may be defined in one file */-->
<th:block th:fragment="agency-panel">
<div class="container" id="addAgency-panel" style="display: none" >
    <div class="text-center"><h3>Agregar agencia</h3></div>
    <div id="resultContainer" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>

    <form id="addAgencyForm" method="post"  th:object="${abmAgencyForm}" th:action="@{/panel/admin/agency/add}">

        <div class="form-group">
            <label for="agencyName"><strong>Nombre de la agencia</strong></label>
            <input type="text" class="form-control form-control-sm" id="agencyName" aria-describedby="agencyNameHelp" th:field="*{addName}">
            <small id="agencyNameHelp" class="form-text text-muted">Nombre de la agencia a crear.</small>
        </div>

        <div class="form-group">
            <label for="city"><strong>Nombre corto de la agencia</strong></label>
            <input type="text" class="form-control form-control-sm" id="city" aria-describedby="cityHelp" th:field="*{addCity}">
            <small id="cityHelp" class="form-text text-muted">Nombre corto de la agencia.</small>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Guardar</button>
        </div>
    </form>

</div>
<div class="container" id="editAgency-panel" style="display: none" >

    <div class="text-center"><h3>Editar agencia</h3></div>
    <div id="resultContainer" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>
    <form id="editAgencyForm" method="post"  th:object="${abmAgencyForm}" th:action="@{/panel/admin/agency/edit}">
          <div class="form-group">
              <label for="agencyId"><strong th:text="agencia"></strong></label>
              <select type="text" class="form-control form-control-sm" aria-describedby="agencyIdHelp" th:id="agencyId" th:field="*{editId}">
                <option th:each="u : ${agencies}" th:value="${u.id}" th:text="${u.name}"></option>
              </select>
              <small id="agencyIdHelp" class="form-text text-muted">Elija la agencia que quiera modificar</small>
          </div>

        <div class="form-group">
            <label for="agencyName"><strong>Nombre de la agencia</strong></label>
            <input type="text" class="form-control form-control-sm" id="agencyName" aria-describedby="agencyNameHelp" th:field="*{editName}">
            <small id="agencyNameHelp" class="form-text text-muted">Nombre de la agencia a crear.</small>
        </div>

        <div class="form-group">
            <label for="city"><strong>Nombre corto de la agencia</strong></label>
            <input type="text" class="form-control form-control-sm" id="city" aria-describedby="cityHelp" th:field="*{editCity}">
            <small id="cityHelp" class="form-text text-muted">Nombre corto de la agencia.</small>
        </div>


        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Guardar</button>
        </div>
    </form>

</div>
<div class="container" id="removeAgency-panel"  style="display: none" >

    <div class="text-center"><h3>Eliminar agencia</h3></div>
    <div id="resultContainer" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>
       <form th:id="deleteAgencyForm" method="post"  th:object="${abmAgencyForm}" th:action="@{/panel/admin/agency/delete}">
             <div class="form-group">
                 <label for="agencyId"><strong th:text="agencia"></strong></label>
                 <select type="text" class="form-control form-control-sm" aria-describedby="agencyIdHelp" th:id="deleteAgencyId" th:field="*{deleteId}">
                   <option th:each="u : ${agencies}" th:value="${u.id}" th:text="${u.name}"></option>
                 </select>
                 <small id="agencyIdHelp" class="form-text text-muted">Elija el agencia que quiera eliminar</small>
             </div>

           <div class="text-center">
             <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Eliminar</button>
           </div>
       </form>

</div>
</th:block>
</body>
</html>
