<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!--/*  Multiple fragments may be defined in one file */-->
<th:block th:fragment="flight-panel">
<div class="container" id="addFlight-panel" style="display: none" >
    <div class="text-center"><h3>Agregar Vuelo</h3></div>
    <div id="addFlightResult" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>

    <form th:id="addFlightForm" th:method="post" th:object="${abmFlightForm}" th:action="@{/airline/flight/add}">
        <div class="form-group">
          <label for="airlineId"><strong th:text="Aerolinea"></strong></label>
          <select type="text" class="form-control form-control-sm" aria-describedby="airlineIdHelp"  th:id="addAirlineId">
            <option th:each="a : ${airlines}" th:value="${a.id}" th:text="${a.name}"></option>
          </select>
          <small id="airlineIdHelp" class="form-text text-muted">Elija la aerolinea a la cual agregarle vuelos.</small>
        </div>

        <div class="form-group">
            <label for="flightName"><strong>Origen</strong></label>
            <input type="text" class="form-control form-control-sm"  aria-describedby="flightNameHelp" th:field="*{addFlightFrom}">
            <small id="flightNameHelp" class="form-text text-muted">Lugar de origen del vuelo</small>
        </div>

        <div class="form-group">
            <label for="flightName"><strong>Fecha y hora de partida</strong></label>
            <input type="date" class="form-control form-control-sm"  aria-describedby="flightNameHelp" id="addFlightDepDate" required>
            <small id="flightNameHelp" class="form-text text-muted">Fecha de partida del vuelo</small>
            <input type="time" class="form-control form-control-sm"  aria-describedby="flightNameHelp" id="addFlightDepTime" required>
            <small id="flightNameHelp" class="form-text text-muted">Hora de partida del vuelo.</small>
        </div>

        <div class="form-group">
                    <label for="flightName"><strong>Destino</strong></label>
                    <input type="text" class="form-control form-control-sm"  aria-describedby="flightNameHelp" th:field="*{addFlightTo}">
                    <small id="flightNameHelp" class="form-text text-muted">Lugar de arrivo del vuelo</small>
        </div>

        <div class="form-group">
            <label for="flightName"><strong>Fecha y hora de llegada</strong></label>
            <input type="date" class="form-control form-control-sm"  aria-describedby="flightNameHelp" id="addFlightArrDate" required>
            <small id="flightNameHelp" class="form-text text-muted">Fecha de llegada del vuelo</small>
            <input type="time" class="form-control form-control-sm"  aria-describedby="flightNameHelp" id="addFlightArrTime" required>
            <small id="flightNameHelp" class="form-text text-muted">Hora de llegada del vuelo.</small>
        </div>

        <div class="form-group">
            <label for="flightName"><strong>Capacidad Economica</strong></label>
            <input type="number" class="form-control form-control-sm"  aria-describedby="flightNameHelp" th:field="*{addEconomic}" min="0">
            <small id="flightNameHelp" class="form-text text-muted">Asientos Economicos</small>
        </div>

        <div class="form-group">
            <label for="flightName"><strong>Capacidad Business</strong></label>
            <input type="number" class="form-control form-control-sm"  aria-describedby="flightNameHelp" th:field="*{addBusiness}" min="0">
            <small id="flightNameHelp" class="form-text text-muted">Asientos Business</small>
        </div>

        <div class="form-group">
            <label for="flightName"><strong>Capacidad Primera</strong></label>
            <input type="number" class="form-control form-control-sm"  aria-describedby="flightNameHelp" th:field="*{addFirst}" min="0">
            <small id="flightNameHelp" class="form-text text-muted">Asientos Primera clase</small>
        </div>

        <div class="form-group">
            <label for="flightName"><strong>Precio</strong></label>
            <input type="number" step="0.01" class="form-control form-control-sm"  aria-describedby="flightNameHelp" th:field="*{addFlightPrice}" min="0">
            <small id="flightNameHelp" class="form-text text-muted">Precio del vuelo.</small>
        </div>

        <div class="form-group">
            <label for="flightName"><strong>Escalas</strong></label>
            <input type="number" class="form-control form-control-sm"  aria-describedby="flightNameHelp" th:field="*{addScales}" min="0">
            <small id="flightNameHelp" class="form-text text-muted">Escalas del vuelo.</small>
        </div>

        <div class="form-group">
            <label for="flightName"><strong>Gap Maximo</strong></label>
            <input type="number" class="form-control form-control-sm"  aria-describedby="flightNameHelp" th:field="*{addGapMax}" min="0">
            <small id="flightNameHelp" class="form-text text-muted">Gap Maximo entre escalas.</small>
        </div>


        <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Agregar Vuelo</button>
        </div>
    </form>

</div>

<div class="container" id="removeFlight-panel" style="display: none" >
    <div class="text-center"><h3>Agregar Vuelo</h3></div>
    <div id="deleteFlightResult" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>

    <form th:id="getAirlineIdForm" th:method="post">
        <div class="form-group">
          <label for="airlineId"><strong th:text="Aerolinea"></strong></label>
          <select type="text" class="form-control form-control-sm" aria-describedby="airlineIdHelp"  th:id="getAirlineId">
            <option th:each="a : ${airlines}" th:value="${a.id}" th:text="${a.name}"></option>
          </select>
          <small id="airlineIdHelp" class="form-text text-muted">Elija la aerolinea para luego seleccionar un vuelo.</small>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Buscar Vuelos</button>
        </div>
    </form>

    <div id="deleteFlight">

    </div>

</div>

</th:block>
</body>
</html>
