<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!--/*  Multiple fragments may be defined in one file */-->
<th:block th:fragment="flight-panel">
<div class="container" id="addFlight-panel" style="display: none" >
    <div class="text-center"><h3>Agregar Aerolinea</h3></div>
    <div id="resultContainer" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>

    <form th:id="addFlight" method="get">
        <div class="form-group">
            <label for="airlineName"><strong>Nombre de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm"  aria-describedby="airlineNameHelp" id="idfly">
            <small id="airlineNameHelp" class="form-text text-muted">Nombre de la aerolinea a crear.</small>
        </div>

        <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Buscar Vuelos</button>
        </div>
    </form>

    <th:block th:if="${abmFlightForm != null}">
    <form id="addFlightForm" method="post"  th:object="${abmFlightForm}" th:action="@{/airline/flight/add}">

        <div class="form-group">
            <label for="airlineName"><strong>Nombre de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm"  aria-describedby="airlineNameHelp" th:field="*{addAirlineName}">
            <small id="airlineNameHelp" class="form-text text-muted">Nombre de la aerolinea a crear.</small>
        </div>

        <div class="form-group">
            <label for="shortName"><strong>Nombre corto de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm"  aria-describedby="shortNameHelp" th:field="*{addAirlineShortName}">
            <small id="shortNameHelp" class="form-text text-muted">Nombre corto de la aerolinea.</small>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Guardar</button>
        </div>
    </form>
    </th:block>
</div>

</th:block>
</body>
</html>
