<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!--/*  Multiple fragments may be defined in one file */-->
<th:block th:fragment="hotel-panel">
<div class="container" id="addHotel-panel" style="display: none" >
    <div class="text-center"><h3>Agregar Aerolinea</h3></div>
    <div id="resultContainer" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>

    <form id="addHotelForm" method="post"  th:object="${abmHotelForm}" th:action="@{/panel/admin/hotel/add}">

        <div class="form-group">
            <label for="hotelName"><strong>Nombre de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm" id="hotelName" aria-describedby="hotelNameHelp" th:field="*{addName}">
            <small id="hotelNameHelp" class="form-text text-muted">Nombre de la aerolinea a crear.</small>
        </div>

        <div class="form-group">
            <label for="stars"><strong>Nombre corto de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm" id="stars" aria-describedby="starsHelp" th:field="*{addStars}">
            <small id="starsHelp" class="form-text text-muted">Nombre corto de la aerolinea.</small>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Guardar</button>
        </div>
    </form>

</div>
<div class="container" id="editHotel-panel" style="display: none" >

    <div class="text-center"><h3>Editar Aerolinea</h3></div>
    <div id="resultContainer" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>
    <form id="editHotelForm" method="post"  th:object="${abmHotelForm}" th:action="@{/panel/admin/hotel/edit}">
          <div class="form-group">
              <label for="hotelId"><strong th:text="Aerolinea"></strong></label>
              <select type="text" class="form-control form-control-sm" aria-describedby="hotelIdHelp" th:id="hotelId" th:field="*{editId}">
                <option th:each="u : ${hotels}" th:value="${u.id}" th:text="${u.name}"></option>
              </select>
              <small id="hotelIdHelp" class="form-text text-muted">Elija la aerolinea que quiera modificar</small>
          </div>

        <div class="form-group">
            <label for="hotelName"><strong>Nombre de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm" id="hotelName" aria-describedby="hotelNameHelp" th:field="*{editName}">
            <small id="hotelNameHelp" class="form-text text-muted">Nombre de la aerolinea a crear.</small>
        </div>

        <div class="form-group">
            <label for="stars"><strong>Nombre corto de la aerolinea</strong></label>
            <input type="text" class="form-control form-control-sm" id="stars" aria-describedby="starsHelp" th:field="*{editStars}">
            <small id="starsHelp" class="form-text text-muted">Nombre corto de la aerolinea.</small>
        </div>


        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Guardar</button>
        </div>
    </form>

</div>
<div class="container" id="removeHotel-panel"  style="display: none" >

    <div class="text-center"><h3>Eliminar Aerolinea</h3></div>
    <div id="resultContainer" style="display: none;">
         <hr/>
         <h4 style="color: green;">Se ha guardado correctamente. </h4>
         <pre style="color: green;">
            <code></code>
         </pre>
    </div>
       <form th:id="deleteHotelForm" method="post"  th:object="${abmHotelForm}" th:action="@{/panel/admin/hotel/delete}">
             <div class="form-group">
                 <label for="hotelId"><strong th:text="Aerolinea"></strong></label>
                 <select type="text" class="form-control form-control-sm" aria-describedby="hotelIdHelp" th:id="deletehotelId" th:field="*{deleteId}">
                   <option th:each="u : ${hotels}" th:value="${u.id}" th:text="${u.name}"></option>
                 </select>
                 <small id="hotelIdHelp" class="form-text text-muted">Elija el Hotel que quiera eliminar</small>
             </div>

           <div class="text-center">
             <button type="submit" class="btn btn-primary btn-lg" id="btnParams">Eliminar</button>
           </div>
       </form>

</div>
</th:block>
</body>
</html>
