<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ReservasYa!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:replace="fragments/commons/styles :: link-styles">Links</th:block>
<body class="home-body">
<div th:replace="~{fragments/header :: header}">Header</div>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <a class="navbar-brand" href="#">Menu admin</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" id="add-admin">Agregar Admin</a>
                  <a class="dropdown-item" href="#" id="rol-change">Cambiar rol</a>
                  <a class="dropdown-item text-info" href="#" id="local-params">Parametros de negocio</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" id="remove-admin" href="#">Eliminar Admin</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Comercial
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="add-comercial" href="#">Agregar Comercial</a>
                    <a class="dropdown-item" id="rol-change" href="#">Cambiar rol</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" id="remove-comercial" href="#">Eliminar Comercial</a>
                  </div>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Usuario
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" id="add-user" href="#">Agregar Usuario</a>
                  <a class="dropdown-item" id="rol-change" href="#">Cambiar rol</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" id="remove-user" href="#">Eliminar Usuario</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Aerolinea
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" id="add-airline" href="#">Agregar Aerolinea</a>
                  <a class="dropdown-item" id="add-flight" href="#">Agregar Vuelo</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" id="remove-airline" href="#">Eliminar Aerolinea</a>
                  <a class="dropdown-item text-danger" id="remove-flight" href="#">Eliminar Vuelo</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Agencia
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="add-agency" href="#">Agregar Agencia</a>
                    <a class="dropdown-item" id="add-car" href="#">Agregar Auto</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" id="remove-agency" href="#">Eliminar Agencia</a>
                    <a class="dropdown-item text-danger" id="remove-car" href="#">Eliminar Auto</a>
                  </div>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hotel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="add-hotel" href="#">Agregar Hotel</a>
                    <a class="dropdown-item" id="add-room" href="#">Agregar Habitacion</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" id="remove-hotel" href="#">Eliminar Hotel</a>
                    <a class="dropdown-item text-danger" id="remove-room" href="#">Eliminar Habitacion</a>
                  </div>
              </li>
            </ul>
          </div>
        </nav>
        <div th:replace="panel/components/localParameters :: local_params-panel"></div>
        <div th:replace="panel/components/changeRol :: rolChange-panel"></div>
  </div>


<th:block th:replace="fragments/commons/script :: link-scripts">Links</th:block>
<script type="text/javascript" th:src="@{~/resources/js/formsByAjax/localParameters.js}"></script>
<script  th:src="@{~/resources/js/displayOrHideFragment.js}"> </script>
<script  th:src="@{~/resources/js/menu/admin/menuAdmin.js}"> </script>

<footer class="eva-3-footer bottom-footer" th:insert="~{fragments/footer :: footer}">&copy; 2018 The Static Templates</footer>
</body>
</html>
