<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ReservasYa!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:replace="fragments/commons/styles :: link-styles">Links</th:block>
<body class="home-body">
<div th:replace="~{fragments/header :: header}">Header</div>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <a class="navbar-brand" href="#">Menu admin</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-auto">
              <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link text-info"  href="#" id="local-params">Parametros de negocio</a>
              </li>
              <li class="nav-item dropdown" sec:authorize="!hasRole('ROLE_USER')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ABM Usuarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" id="add-user">Agregar Usuario</a>
                  <a class="dropdown-item" href="#" id="edit-user">Editar Usuario</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" id="remove-user" href="#">Eliminar Usuario</a>
                </div>
              </li>
              <li class="nav-item dropdown" sec:authorize="!hasRole('ROLE_USER')">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ABM Entidades
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="add-entity" href="#">Agregar Entidad</a>
                    <a class="dropdown-item" id="edit-entity" href="#">Editar Entidad</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" id="remove-entity" href="#">Eliminar Entidad</a>
                  </div>
                </li>
              <li class="nav-item dropdown" sec:authorize="!hasRole('ROLE_USER')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ABM Vuelos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" id="add-flight" href="#">Agregar Vuelo</a>
                  <a class="dropdown-item" id="edit-flight" href="#">Editar Vuelo</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" id="remove-flight" href="#">Eliminar Vuelo</a>
                </div>
              </li>
              <li class="nav-item dropdown" sec:authorize="!hasRole('ROLE_USER')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ABM Habitacion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" id="add-room" href="#">Agregar Habitacion</a>
                  <a class="dropdown-item" id="edit-room" href="#">Editar Habitacion</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" id="remove-room" href="#">Eliminar Habitacion</a>
                </div>
              </li>
              <li class="nav-item dropdown" sec:authorize="!hasRole('ROLE_USER')">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ABM Auto
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="add-car" href="#">Agregar Auto</a>
                    <a class="dropdown-item" id="edit-car" href="#">Editar Auto</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" id="remove-car" href="#">Eliminar Auto</a>
                  </div>
              </li>
            </ul>
          </div>
        </nav>
        <div id="resultContainer" style="display: none;">
                 <hr/>
                 <h4 style="color: green;">Se ha guardado correctamente. </h4>
                  <pre style="color: green;">
                    <code></code>
                   </pre>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="panel/components/localParameters :: localParams-panel"></div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="panel/components/abmUser :: user-panel"></div>
        <div sec:authorize="!hasRole('ROLE_USER')" th:replace="panel/components/abmEntity :: entity-panel"></div>
        <div sec:authorize="!hasRole('ROLE_USER')" th:replace="panel/components/abmFlight :: flight-panel"></div>
        <div sec:authorize="!hasRole('ROLE_USER')" th:replace="panel/components/abmRoom :: room-panel"></div>
        <div sec:authorize="!hasRole('ROLE_USER')" th:replace="panel/components/abmCar :: car-panel"></div>
  </div>


<th:block th:replace="fragments/commons/script :: link-scripts">Links</th:block>
<script type="text/javascript" th:src="@{~/resources/js/formsByAjax/localParameters.js}"></script>
<script type="text/javascript" th:src="@{~/resources/js/formsByAjax/abmUser/addUser.js}"></script>
<script type="text/javascript" th:src="@{~/resources/js/formsByAjax/abmUser/editUser.js}"></script>
<script  th:src="@{~/resources/js/displayOrHideFragment.js}"> </script>
<script  th:src="@{~/resources/js/menu/admin/menuAdmin.js}"> </script>

<footer class="eva-3-footer bottom-footer" th:insert="~{fragments/footer :: footer}">&copy; 2018 The Static Templates</footer>
</body>
</html>
