<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="modal">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Registrate</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="myModalBody">Lorem ipsum</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script th:inline="javascript" type="text/javascript">
    /* Fill in modal with content loaded with Ajax */
    $(document).ready(function () {
        $('#signup').on('click', function (e) {
            $("#myModal").modal();
            $("#myModalBody").text("");
            $.ajax({
                url: "signup",
                cache: false
            }).done(function (html) {
                $("#myModalBody").append(html);
            });
        })
    });

</script>
</th:block>
</body>
</html>