<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ReservasYa!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:replace="fragments/commons/styles :: link-styles">Links</th:block>
</head>
<body class="home-body">
<div th:replace="~{fragments/header :: header}">Header</div>


<div class="container">
    <div class="text-center">
        
        <h1>Bienvenido a ReservasYa!</h1>
        <p>
            <a id="signup" class="btn btn-success btn-lg">Registrate!</a>
        </p>
    </div>
</div>

<th:block th:replace="searchbox/searchbox :: boxes">Cajas de busquedas</th:block>

<th:block th:replace="fragments/commons/script :: link-scripts">Links</th:block>
<th:block th:replace="signin/modal :: modal">Modal inicio sesion</th:block>

<footer class="eva-3-footer bottom-footer" th:insert="~{fragments/footer :: footer}">&copy; 2018 The Static Templates</footer>
</body>
</html>
