<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">¡Bienvenido a ReservasYa! !</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/css/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/eva/eva-core.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/eva/eva.min.css"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>

    <div th:each="hotel: ${hotels}">
        <p th:text="${hotel.name}"></p>
    </div>

</div>
<div class="header-container-general">
    <nav class="eva-3-header">
        <div class="header-autogestion-container">
            <div class="header-container-general">
                <ul class="header-autogestion">
                    <li class="header-autogestion-item header-autogestion-flag -header-separation">
                        <a class="header-autogestion-link">
                                <span class="header-image-container">
                                    <span class="flag-container">
                                        <span class="-ar eva-3-flag"></span>
                                </span>
                                </span>

                            <span class="header-container-text -eva-3-hide-medium -eva-3-hide-small">
                                    <span class="header-autogestion-title">Español</span>
                                </span>
                        </a>
                    </li>

                    <li class="header-autogestion-item ">
                        <a class="header-autogestion-link">
                            <i class="header-icon eva-3-icon-user"></i>

                            <span class="header-container-text -eva-3-hide-medium -eva-3-hide-small header-double-line">
                                    <span class="header-autogestion-title">Iniciar Sesión</span>

                                <span class="header-description">Mi Cuenta</span>
                                </span>
                        </a>
                    </li>

                    <li class="header-autogestion-item">
                        <a class="header-autogestion-link">
                            <i class="header-icon eva-3-icon-booking"></i>

                            <span class="header-container-text -eva-3-hide-medium -eva-3-hide-small">
                                    <span class="header-autogestion-title">Mi Reserva</span>
                                </span>
                        </a>
                    </li>

                    <li class="header-autogestion-item">
                        <a class="header-autogestion-link">
                            <i class="header-icon eva-3-icon-question-circle"></i>

                            <span class="header-container-text -eva-3-hide-medium -eva-3-hide-small">
                                    <span class="header-autogestion-title">Ayuda</span>
                                </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header-navigation -first">
            <div class="header-logo">
                <a class="header-logo-container">
                    <img src="https://www.staticontent.com/shifu/static/logos/iso.svg" alt="Despegar.com" title="Vuelos, Hoteles y Paquetes en Despegar.com" class="-eva-3-hide-medium-up">
                    <img src="https://www.staticontent.com/shifu/static/logos/despegar.svg" alt="Despegar.com" title="Vuelos, Hoteles y Paquetes en Despegar.com" class="header-logo-dkp -eva-3-hide-small">
                </a>
            </div>

        </div>
    </nav>
</div>

<div class="eva-3-container">
    <!-- BEGIN SEARCH BOX ++++++++++++++++++++++++++++++++++ -->

    <div class="eva-3-row -no-gutter">
        <div class="col -sm-12 -md-6 -xlg-6">
            <section>
                <article class="yellow-rectangle">
                    <form method="GET" action="" id="formBox">
                        <div class="eva-3-h3 box-title">Encontra tu vuelo</div>

                        <div class="eva-3-row -no-gutter common-row-container">
                            <div class="col -sm-12 -md-12">
                                    <span class="eva-3-radio">
                                        <label class="radio-label-container">
                                            <input
                                                    type="radio"
                                                    name="fly-way"
                                                    class="radio-tag"
                                                    id="fly-way-goReturn"
                                                    checked="checked"
                                            ></input>

                                            <i class="radio-circle no-margin-right"></i>

                                            <span class="radio-tag-font-size">Ida y vuelta</span>
                                    </label>
                                    </span>

                                <span class="eva-3-radio">
                                        <label class="radio-label-container">
                                            <input
                                                    type="radio"
                                                    name="fly-way"
                                                    class="radio-tag"
                                                    id="fly-way-go"
                                            ></input>

                                            <i class="radio-circle no-margin-right"></i>

                                            <span class="radio-tag-font-size">Solo ida</span>
                                    </label>
                                    </span>

                                <span class="eva-3-radio">
                                        <label class="radio-label-container">
                                            <input
                                                    type="radio"
                                                    name="fly-way"
                                                    class="radio-tag"
                                                    id="fly-way-multi"
                                            ></input>

                                            <i class="radio-circle no-margin-right"></i>

                                            <span class="radio-tag-font-size">Multidestino</span>
                                    </label>
                                    </span>
                            </div>
                        </div>

                        <div class="eva-3-row -no-gutter common-row-container">
                            <div class="col -sm-12 -md-6">
                                <label class="eva-3-label-form label-form-block -md">
                                        <span class="label-container">
                                            <span class="-eva-3-bold -eva-3-tc-black label-text">Origen</span>
                                        </span>

                                    <div
                                            class="eva-3-input -no-border  input-border-separator -lg eva-3-validation -top-right"
                                            id="fly-from-input"
                                    >
                                        <div class="input-container">
                                            <input
                                                    type="text"
                                                    placeholder="Desde donde viajas"
                                                    id="fly-from"
                                                    name="from"
                                                    class="input-tag"
                                                    pattern="([a-z][A-Z]){3}"
                                            ></input>

                                            <span
                                                    class="validation-msg"
                                                    id="fly-from-msg"
                                            ></span>
                                        </div>
                                    </div>
                                </label>
                            </div>

                            <div class="col -sm-12 -md-6">
                                <label class="eva-3-label-form label-form-block -md">
                                        <span class="label-container">
                                            <span class="-eva-3-bold -eva-3-tc-black label-text">Destino</span>
                                        </span>

                                    <div
                                            class="eva-3-input -no-border  input-border-separator  -lg eva-3-validation  -top-right"
                                            id="fly-to-input"
                                    >
                                        <div class="input-container">
                                            <input
                                                    type="text"
                                                    placeholder="Hacia donde viajas"
                                                    id="fly-to"
                                                    name="to"
                                                    class="input-tag"
                                                    pattern="([a-z][A-Z]){3}"
                                            ></input>

                                            <span
                                                    class="validation-msg"
                                                    id="fly-to-msg"
                                            ></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="eva-3-row -no-gutter common-row-container">
                            <div class="col -sm-12 -md-8 no-padding">
                                <label class="col -sm-8 -md-8 no-padding eva-3-label-form label-form-block  -md">
                                        <span class="label-container">
                                            <span class="-eva-3-bold -eva-3-tc-black label-text">Fechas</span>
                                        </span>
                                </label>

                                <div class="col -sm-6 -md-6  no-padding">
                                    <div class="eva-3-input -no-border -lg input-border-separator -icon-left eva-3-validation  -top-right"
                                         id="fly-dateGo-input">
                                        <div class="input-container">
                                            <input type="text" placeholder="dd/mm/yyyy" id="fly-dateGo"
                                                   name="departureDate" class="input-tag"
                                                   pattern="(19|20)\d{2}\/([1-9]|0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])"></input>

                                            <span class="validation-msg" id="fly-dateGo-msg"></span>

                                            <i class="input-icon -eva-3-icon-sm eva-3-icon-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col -sm-6 -md-6 no-padding">
                                    <div class="eva-3-input -no-border -lg input-border-separator -icon-left eva-3-validation  -top-right"
                                         id="fly-dateReturn-input">
                                        <div class="input-container">
                                            <input type="text" placeholder="dd/mm/yyyy" id="fly-dateReturn"
                                                   name="returnDate" class="input-tag"
                                                   pattern="(19|20)\d{2}\/([1-9]|0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])"></input>

                                            <span class="validation-msg" id="fly-dateReturn-msg"></span>

                                            <i class="input-icon -eva-3-icon-sm eva-3-icon-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col -sm-12 -md-12 no-padding">
                                        <span class="eva-3-checkbox custom-checkbox">
                                            <label class="checkbox-label">
                                                <input
                                                        type="checkbox"
                                                        class="checkbox-tag"
                                                        id="fly-dontKnowDate"
                                                ></input>

                                                <i class="checkbox-check eva-3-icon-checkmark"></i>
                                                Todavia no decidi mis fechas
                                            </label>
                                        </span>
                                </div>
                            </div>

                            <div class="col -sm-12 -md-4">
                                <label for="" class="eva-3-label-form  label-form-block -md">
                                        <span class="label-container">
                                            <span class="-eva-3-bold -eva-3-tc-black label-text">Pasajeros</span>
                                        </span>
                                </label>

                                <div class="eva-3-select -no-border -lg input-border-separator -icon-left eva-3-validation  -bottom-right"
                                     id="persons-select">
                                    <div class="select-container">
                                        <select id="select-passenger" name="adults" class="select-tag">

                                            <option
                                                    value="1"
                                                    class="select-option"
                                            >1 Persona
                                            </option>

                                            <option
                                                    value="2"
                                                    selected="selected"
                                                    class="select-option"
                                            >2 Personas
                                            </option>

                                            <option
                                                    value="3"
                                                    class="select-option"
                                            >3 Personas
                                            </option>

                                            <option
                                                    value="2"
                                                    class="select-option"
                                            >4 Personas
                                            </option>

                                            <option
                                                    value="3"
                                                    class="select-option"
                                            >5 Personas
                                            </option>
                                        </select>

                                        <span class="validation-msg">Campo invalido</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="eva-3-row -no-gutter common-row-container">
                            <div class="col -sm-12 -md-12">
                                <div class="button-container">
                                    <button class="search-button eva-3-btn -secondary -md" id="fly-button">
                                        <em class="btn-text">Buscar</em>
                                    </button>
                                </div>
                            </div>
                            <div class="col -sm-12 -md-12 center-loader" id="loaderSpot">

                            </div>
                        </div>
                    </form>
                </article>
            </section>
        </div>

        <div class="col -sm-12 -md-6 -xlg-6 -eva-3-hide-small module-hot-offers">
            <aside>
                <div class="eva-3-row -no-gutter module-hot-offers-row">
                    <div class="col -md-12 -xlg-6 module-hot-offers-col">
                        <div class="home-offer">
                            <div class="offer -with-button flex-row-column">
                                <a href="http://www.despegar.com.ar/hoteles/hl/6381/i1/hoteles-en-rio+de+janeiro?hotelOid=231814&M=B1:1"
                                   class="link-container">
                                    <div class="header-title-promo">
                                        <div class="title-promo">
                                            <span class="-eva-3-icon-lg eva-3-icon-flights"></span> Vuelos a Miami
                                        </div>

                                        <div class="subtitle-promo">Ida y Vuelta</div>
                                    </div>

                                    <div class="discount"></div>

                                    <div class="button-show-container">
                                            <span class="eva-3-btn -primary -lg">
                                                <em class="btn-text">Ver detalle</em>
                                            </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col -xlg-6 -eva-3-hide-medium module-hot-offers-col">
                        <div class="offer -pig"></div>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <!-- END SEARCH BOX ++++++++++++++++++++++++++++++++++ -->
    <!-- Begin Clusters -->

    <div class="eva-3-cluster-basic">
        <div id="clusters">

        </div>
    </div>

    <!-- End Clusters -->
</div>

<script src="../../../resources/js/moment/moment.js"></script>
<script src="../../../resources/js/moment/es.js"></script>
<script src="../../../resources/js/main.js"></script>
<script src="../../../resources/js/validators.js"></script>
<script src="../../../resources/js/renderer.js"></script>
<script src="../../../resources/js/eventAttacher.js"></script>
<script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>