.eva-3-checkbox .checkbox-label {
    cursor: pointer;
    position: relative
}

.eva-3-checkbox .checkbox-check {
    transition: color .2s, border-color .2s;
    border-radius: 3px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin-top: -1px;
    line-height: 14px;
    cursor: pointer;
    text-align: center;
    background-color: #FFF;
    color: #FFF;
    border: 1px solid #CCC;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.eva-3-checkbox .checkbox-check:before {
    transition: opacity .1s;
    opacity: 0;
    display: block;
    font-size: 13px
}

.eva-3-checkbox .checkbox-tag {
    opacity: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.eva-3-checkbox .checkbox-tag:checked+.checkbox-check {
    background-color: #2D72E1;
    border-color: #2D72E1;
    color: #FFF
}

.eva-3-checkbox .checkbox-tag:disabled+.checkbox-check:before, .eva-3-checkbox .checkbox-tag:disabled~.checkbox-text {
    color: #888
}

.eva-3-checkbox .checkbox-tag:checked+.checkbox-check:before {
    animation: eva_checkbox .1s ease-out;
    opacity: 1
}

.eva-3-checkbox .checkbox-tag:focus+.checkbox-check {
    border-color: #3CC8F1
}

.eva-3-checkbox .checkbox-tag:disabled+.checkbox-check {
    background-color: #DDD;
    border-color: #CCC
}

.eva-3-checkbox.-no-border .checkbox-check {
    border-color: #FFF
}

.eva-3-checkbox.-invalid .checkbox-check {
    border-color: #F7432C;
    background-color: #FFF
}

.eva-3-checkbox.-md .checkbox-check {
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    line-height: 18px
}

.eva-3-checkbox.-md .checkbox-check:before {
    font-size: 16px
}

@keyframes eva_checkbox {
    from {
        transform: scale(2, 2)
    }
    to {
        transform: scale(1, 1)
    }
}

.eva-3-radio {
    padding-bottom: 2px
}

.eva-3-radio .radio-tag {
    opacity: 0;
    width: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute
}

.eva-3-radio .radio-tag:checked+.radio-circle {
    border-color: #2D72E1;
    background-color: #2D72E1
}

.eva-3-radio .radio-tag:checked+.radio-circle:before {
    animation: eva_radio .2s;
    opacity: 1
}

.eva-3-radio .radio-tag~.radio-circle, .eva-3-radio .radio-tag~.radio-label {
    cursor: pointer
}

.eva-3-radio .radio-tag:disabled~.radio-label {
    cursor: default;
    color: #888
}

.eva-3-radio .radio-tag:disabled~.radio-circle {
    cursor: default;
    background-color: #DDD;
    border-color: #CCC
}

.eva-3-radio .radio-tag:disabled~.radio-circle:before {
    background-color: #888
}

.eva-3-radio .radio-circle {
    transition: border-color .2s ease-out, background-color .2s ease-out;
    border-radius: 100%;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-bottom: -4px;
    margin-right: 5px;
    background-color: #FFF;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: 1px solid #CCC
}

.eva-3-radio .radio-circle:before {
    transition: opacity .2s ease-out;
    border-radius: 100%;
    opacity: 0;
    content: "";
    background-color: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 6px;
    width: 6px;
    margin: -3px 0 0 -3px
}

.eva-3-radio:focus .radio-circle, .eva-3-radio:hover .radio-circle {
    opacity: 1;
    border-color: #3CC8F1
}

.eva-3-radio.-no-border .radio-circle {
    border-color: #FFF
}

.eva-3-radio.-md {
    padding-bottom: 2px
}

.eva-3-radio.-md .radio-circle {
    margin-bottom: -5px;
    margin-right: 10px;
    height: 22px;
    width: 22px
}

@keyframes eva_radio {
    from {
        transform: scale(2, 2)
    }
    to {
        transform: scale(1, 1)
    }
}

.eva-3-validation.-top-center.-invalid .validation-msg, .eva-3-validation.-top-left.-invalid .validation-msg, .eva-3-validation.-top-right.-invalid .validation-msg {
    transform: translateY(-10px)
}

.eva-3-validation {
    position: relative
}

.eva-3-validation .validation-msg {
    transition: opacity .2s, visibility .2s, transform .2s cubic-bezier(.54, .56, .48, 1.71);
    box-sizing: border-box;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, .2));
    opacity: 0;
    position: absolute;
    visibility: hidden;
    background-color: #EB1B00;
    color: #FFF;
    max-width: 300px;
    z-index: 1;
    font-size: 13px;
    line-height: 1.2;
    padding: 8px 10px
}

.eva-3-validation .validation-msg:before {
    content: "";
    position: absolute;
    border: 8px solid
}

.eva-3-validation.-top-left .validation-msg {
    bottom: 100%;
    top: auto;
    left: 0;
    right: auto;
    margin: auto 5px -12px
}

.eva-3-validation.-top-left .validation-msg:before {
    border-color: #EB1B00 transparent transparent;
    bottom: -16px;
    top: auto;
    left: 7px;
    right: auto
}

.eva-3-validation.-top-left.-sm .validation-msg {
    margin-bottom: -8px
}

.eva-3-validation.-top-left.-lg .validation-msg {
    margin-bottom: -15px
}

.eva-3-validation.-top-right .validation-msg {
    bottom: 100%;
    right: 0;
    left: auto;
    top: auto;
    margin: auto 5px -12px
}

.eva-3-validation.-top-right .validation-msg:before {
    border-color: #EB1B00 transparent transparent;
    bottom: -16px;
    right: 7px;
    left: auto;
    top: auto
}

.eva-3-validation.-top-right.-sm .validation-msg {
    margin-bottom: -8px
}

.eva-3-validation.-top-right.-lg .validation-msg {
    margin-bottom: -15px
}

.eva-3-validation.-top-center .validation-msg {
    bottom: 100%;
    top: auto;
    width: 300px;
    left: 50%;
    right: auto;
    margin-left: -150px;
    margin-bottom: -12px;
    text-align: center
}

.eva-3-validation.-top-center .validation-msg:before {
    border-color: #EB1B00 transparent transparent;
    bottom: -16px;
    top: auto;
    margin-left: -9px;
    left: 50%;
    right: auto
}

.eva-3-validation.-top-center.-sm .validation-msg {
    margin-bottom: -8px
}

.eva-3-validation.-top-center.-lg .validation-msg {
    margin-bottom: -15px
}

.eva-3-validation.-bottom-center.-invalid .validation-msg, .eva-3-validation.-bottom-left.-invalid .validation-msg, .eva-3-validation.-bottom-right.-invalid .validation-msg {
    transform: translateY(10px)
}

.eva-3-validation.-bottom-left .validation-msg {
    top: 100%;
    left: 0;
    bottom: auto;
    right: auto;
    margin: -12px 5px auto
}

.eva-3-validation.-bottom-left .validation-msg:before {
    border-color: transparent transparent #EB1B00;
    top: -16px;
    left: 7px;
    right: auto;
    bottom: auto
}

.eva-3-validation.-bottom-left.-sm .validation-msg {
    margin-top: -8px
}

.eva-3-validation.-bottom-left.-lg .validation-msg {
    margin-top: -15px
}

.eva-3-validation.-bottom-right .validation-msg {
    top: 100%;
    right: 0;
    left: auto;
    margin: -12px 5px auto;
    bottom: auto
}

.eva-3-validation.-bottom-right .validation-msg:before {
    border-color: transparent transparent #EB1B00;
    top: -16px;
    right: 10%;
    left: auto;
    bottom: auto
}

.eva-3-validation.-bottom-right.-sm .validation-msg {
    margin-top: -8px
}

.eva-3-validation.-bottom-right.-lg .validation-msg {
    margin-top: -15px
}

.eva-3-validation.-bottom-center .validation-msg {
    top: 100%;
    bottom: auto;
    width: 300px;
    left: 50%;
    right: auto;
    margin-left: -150px;
    margin-top: -12px;
    text-align: center
}

.eva-3-validation.-bottom-center .validation-msg:before {
    border-color: transparent transparent #EB1B00;
    top: -16px;
    margin-left: -9px;
    left: 50%;
    right: auto;
    bottom: auto
}

.eva-3-validation.-bottom-center.-sm .validation-msg {
    margin-top: -8px
}

.eva-3-validation.-bottom-center.-lg .validation-msg {
    margin-top: -15px
}

.eva-3-validation.-invalid .input-tag, .eva-3-validation.-invalid .select-tag, .eva-3-validation.-invalid .textarea-tag {
    border-color: #F7432C
}

.eva-3-validation.-invalid .validation-msg {
    visibility: visible;
    opacity: 1
}

@media (min-width:1px) and (max-width:767px) {
    .eva-3-validation.-top-center-small.-invalid .validation-msg, .eva-3-validation.-top-left-small.-invalid .validation-msg, .eva-3-validation.-top-right-small.-invalid .validation-msg {
        transform: translateY(-10px)
    }
    .eva-3-validation.-top-left-small .validation-msg {
        bottom: 100%;
        top: auto;
        left: 0;
        right: auto;
        margin: auto 5px -12px
    }
    .eva-3-validation.-top-left-small .validation-msg:before {
        border-color: #EB1B00 transparent transparent;
        bottom: -16px;
        top: auto;
        left: 7px;
        right: auto
    }
    .eva-3-validation.-top-left-small.-sm .validation-msg {
        margin-bottom: -8px
    }
    .eva-3-validation.-top-left-small.-lg .validation-msg {
        margin-bottom: -15px
    }
    .eva-3-validation.-top-center-small .validation-msg {
        bottom: 100%;
        top: auto;
        width: 300px;
        left: 50%;
        right: auto;
        margin-left: -150px;
        margin-bottom: -12px;
        text-align: center
    }
    .eva-3-validation.-top-center-small .validation-msg:before {
        border-color: #EB1B00 transparent transparent;
        bottom: -16px;
        top: auto;
        margin-left: -9px;
        left: 50%;
        right: auto
    }
    .eva-3-validation.-top-center-small.-sm .validation-msg {
        margin-bottom: -8px
    }
    .eva-3-validation.-top-center-small.-lg .validation-msg {
        margin-bottom: -15px
    }
    .eva-3-validation.-top-right-small .validation-msg {
        bottom: 100%;
        right: 0;
        left: auto;
        top: auto;
        margin: auto 5px -12px
    }
    .eva-3-validation.-top-right-small .validation-msg:before {
        border-color: #EB1B00 transparent transparent;
        bottom: -16px;
        right: 7px;
        left: auto;
        top: auto
    }
    .eva-3-validation.-top-right-small.-sm .validation-msg {
        margin-bottom: -8px
    }
    .eva-3-validation.-top-right-small.-lg .validation-msg {
        margin-bottom: -15px
    }
    .eva-3-validation.-bottom-center-small.-invalid .validation-msg, .eva-3-validation.-bottom-left-small.-invalid .validation-msg, .eva-3-validation.-val-sm-bottom-right.-invalid .validation-msg {
        transform: translateY(10px)
    }
    .eva-3-validation.-bottom-left-small .validation-msg {
        top: 100%;
        left: 0;
        bottom: auto;
        right: auto;
        margin: -12px 5px auto
    }
    .eva-3-validation.-bottom-left-small .validation-msg:before {
        border-color: transparent transparent #EB1B00;
        top: -16px;
        left: 7px;
        right: auto;
        bottom: auto
    }
    .eva-3-validation.-bottom-left-small.-sm .validation-msg {
        margin-top: -8px
    }
    .eva-3-validation.-bottom-left-small.-lg .validation-msg {
        margin-top: -15px
    }
    .eva-3-validation.-bottom-center-small .validation-msg {
        top: 100%;
        bottom: auto;
        width: 300px;
        left: 50%;
        right: auto;
        margin-left: -150px;
        margin-top: -12px;
        text-align: center
    }
    .eva-3-validation.-bottom-center-small .validation-msg:before {
        border-color: transparent transparent #EB1B00;
        top: -16px;
        margin-left: -9px;
        left: 50%;
        right: auto;
        bottom: auto
    }
    .eva-3-validation.-bottom-center-small.-sm .validation-msg {
        margin-top: -8px
    }
    .eva-3-validation.-bottom-center-small.-lg .validation-msg {
        margin-top: -15px
    }
    .eva-3-validation.-val-sm-bottom-right .validation-msg {
        top: 100%;
        right: 0;
        left: auto;
        margin: -12px 5px auto;
        bottom: auto
    }
    .eva-3-validation.-val-sm-bottom-right .validation-msg:before {
        border-color: transparent transparent #EB1B00;
        top: -16px;
        right: 10%;
        left: auto;
        bottom: auto
    }
    .eva-3-validation.-val-sm-bottom-right.-sm .validation-msg {
        margin-top: -8px
    }
    .eva-3-validation.-val-sm-bottom-right.-lg .validation-msg {
        margin-top: -15px
    }
}

.eva-3-cluster-basic {
    margin-bottom: 20px
}

.eva-3-cluster-basic .cluster-container {
    position: relative;
    background-color: #FFF
}

.eva-3-cluster-basic .cluster-pricebox-container {
    position: absolute;
    width: 170px;
    bottom: 5px;
    right: 5px;
    top: 5px
}

.eva-3-cluster-basic .cluster-content {
    margin-right: 175px
}

.eva-3-cluster-basic .cluster-description {
    box-sizing: border-box;
    height: 210px;
    padding: 15px
}

@media (min-width:1px) and (max-width:767px) {
    .eva-3-cluster-basic .cluster-content {
        margin-right: 0
    }
    .eva-3-cluster-basic .cluster-pricebox-container {
        position: static;
        right: auto;
        top: auto;
        width: auto
    }
    .eva-3-cluster-basic .cluster-description {
        padding: 5px;
        height: auto
    }
}

.-eva-3-no-radius-left {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important
}

.-eva-3-no-radius-right {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important
}

.-eva-3-no-radius-top {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important
}

.-eva-3-no-radius-bottom {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important
}

.-eva-3-bc-black {
    background-color: #000
}

.-eva-3-bc-gray-0 {
    background-color: #222
}

.-eva-3-bc-gray-1 {
    background-color: #444
}

.-eva-3-bc-gray-2 {
    background-color: #666
}

.-eva-3-bc-gray-3 {
    background-color: #888
}

.-eva-3-bc-gray-4 {
    background-color: #AAA
}

.-eva-3-bc-gray-5 {
    background-color: #CCC
}

.-eva-3-bc-gray-6 {
    background-color: #DDD
}

.-eva-3-bc-gray-7 {
    background-color: #EEE
}

.-eva-3-bc-gray-8 {
    background-color: #F5F5F5
}

.-eva-3-bc-white {
    background-color: #FFF
}

.-eva-3-bc-blue-1 {
    background-color: #5C8FE0
}

.-eva-3-bc-blue-2 {
    background-color: #2D72E1
}

.-eva-3-bc-blue-3 {
    background-color: #0050D0
}

.-eva-3-bc-blue-4 {
    background-color: #003FA3
}

.-eva-3-bc-light-blue-1 {
    background-color: #82DCF7
}

.-eva-3-bc-light-blue-2 {
    background-color: #3CC8F1
}

.-eva-3-bc-light-blue-3 {
    background-color: #10ADDA
}

.-eva-3-bc-light-blue-4 {
    background-color: #0F9BC4
}

.-eva-3-bc-green-1 {
    background-color: #5DCF7B
}

.-eva-3-bc-green-2 {
    background-color: #39C15C
}

.-eva-3-bc-green-3 {
    background-color: #00B02E
}

.-eva-3-bc-green-4 {
    background-color: #029729
}

.-eva-3-bc-yellow-1 {
    background-color: #FCF7C5
}

.-eva-3-bc-yellow-2 {
    background-color: #FFF68F
}

.-eva-3-bc-yellow-3 {
    background-color: #FFF157
}

.-eva-3-bc-yellow-4 {
    background-color: #FAE829
}

.-eva-3-bc-orange-1 {
    background-color: #FFEB99
}

.-eva-3-bc-orange-2 {
    background-color: #FFE066
}

.-eva-3-bc-orange-3 {
    background-color: #FFD324
}

.-eva-3-bc-orange-4 {
    background-color: #FFC005
}

.-eva-3-bc-red-1 {
    background-color: #F96F5D
}

.-eva-3-bc-red-2 {
    background-color: #F7432C
}

.-eva-3-bc-red-3 {
    background-color: #EB1B00
}

.-eva-3-bc-red-4 {
    background-color: #DB1C00
}

.-eva-3-tc-black {
    color: #000!important
}

.-eva-3-tc-gray-0 {
    color: #222!important
}

.-eva-3-tc-gray-1 {
    color: #444!important
}

.-eva-3-tc-gray-2 {
    color: #666!important
}

.-eva-3-tc-gray-3 {
    color: #888!important
}

.-eva-3-tc-gray-4 {
    color: #AAA!important
}

.-eva-3-tc-gray-5 {
    color: #CCC!important
}

.-eva-3-tc-gray-6 {
    color: #DDD!important
}

.-eva-3-tc-gray-7 {
    color: #EEE!important
}

.-eva-3-tc-gray-8 {
    color: #F5F5F5!important
}

.-eva-3-tc-white {
    color: #FFF!important
}

.-eva-3-tc-blue-1 {
    color: #5C8FE0!important
}

.-eva-3-tc-blue-2 {
    color: #2D72E1!important
}

.-eva-3-tc-blue-3 {
    color: #0050D0!important
}

.-eva-3-tc-blue-4 {
    color: #003FA3!important
}

.-eva-3-tc-light-blue-1 {
    color: #82DCF7!important
}

.-eva-3-tc-light-blue-2 {
    color: #3CC8F1!important
}

.-eva-3-tc-light-blue-3 {
    color: #10ADDA!important
}

.-eva-3-tc-light-blue-4 {
    color: #0F9BC4!important
}

.-eva-3-tc-green-1 {
    color: #5DCF7B!important
}

.-eva-3-tc-green-2 {
    color: #39C15C!important
}

.-eva-3-tc-green-3 {
    color: #00B02E!important
}

.-eva-3-tc-green-4 {
    color: #029729!important
}

.-eva-3-tc-yellow-1 {
    color: #FCF7C5!important
}

.-eva-3-tc-yellow-2 {
    color: #FFF68F!important
}

.-eva-3-tc-yellow-3 {
    color: #FFF157!important
}

.-eva-3-tc-yellow-4 {
    color: #FAE829!important
}

.-eva-3-tc-orange-1 {
    color: #FFEB99!important
}

.-eva-3-tc-orange-2 {
    color: #FFE066!important
}

.-eva-3-tc-orange-3 {
    color: #FFD324!important
}

.-eva-3-tc-orange-4 {
    color: #FFC005!important
}

.-eva-3-tc-red-1 {
    color: #F96F5D!important
}

.-eva-3-tc-red-2 {
    color: #F7432C!important
}

.-eva-3-tc-red-3 {
    color: #EB1B00!important
}

.-eva-3-tc-red-4 {
    color: #DB1C00!important
}

.-eva-3-bc-dark {
    background-color: rgba(0, 0, 0, .9)
}

.-eva-3-bc-light {
    background-color: rgba(255, 255, 255, .9)
}

@font-face {
    font-family: eva-font;
    src: url(resources/fonts/eva-font.woff2) format("woff2"), url(resources/fonts/eva-font.woff) format("woff"), url(resources/fonts/eva-font.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.eva-3-icon-airplane-going, .eva-3-icon-airplane-return, .eva-3-icon-arrow-down, .eva-3-icon-bag, .eva-3-icon-calendar, .eva-3-icon-checkmark, .eva-3-icon-flights {
    font-family: eva-font;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.eva-3-icon-airplane-going:before {
    content: "\e001"
}

.eva-3-icon-airplane-return:before {
    content: "\e002"
}

.eva-3-icon-arrow-down:before {
    content: "\e008"
}

.eva-3-icon-bag:before {
    content: "\e015"
}

.eva-3-icon-calendar:before {
    content: "\e026"
}

.eva-3-icon-checkmark:before {
    content: "\e036"
}

.eva-3-icon-flights:before {
    content: "\e062"
}