<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/css/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/eva/eva-core.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/eva/eva.min.css"/>
</head>
<body>

<!--/*  Multiple fragments may be defined in one file */-->
<div class="eva-3-container" id="local_params-panel" th:fragment="local_params-panel" style="display: none" >
    Hola este es el panel de local params
</div>

</body>
</html>
