<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ReservasYa!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <th:block th:replace="fragments/commons/styles :: link-styles">Links</th:block>

</head>
<body class="home-body">
<div th:replace="~{fragments/header :: header-wp}">Header</div>

<div class="eva-3-cluster-basic">
    <div th:if="${flight != null }" th:replace="details/itemDetail :: fly-detail">

    </div>

</div>


<footer class="eva-3-footer bottom-footer" th:insert="~{fragments/footer :: footer}">&copy; 2018 The Static Templates</footer>
<th:block th:replace="fragments/commons/script :: link-scripts">Links</th:block>
<script  th:src="@{~/resources/js/displayOrHideFragment.js}"> </script>
<script  th:src="@{~/resources/js/searchBoxDisplay.js}"> </script>
</body>
</html>
