<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/css/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/eva/eva-core.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/eva/eva.min.css"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />    <link rel="icon" type="image/png" href="../../../resources/images/favicon.ico" th:href="@{~/favicon.ico}">

</head>
<body>
<div class="header-container-general">
<nav class="navbar navbar-inverse navbar-fixed-top eva-3-header" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a href="#" th:href="@{/}">ReservasYa!</a>
                </li>
                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-hotels"></i>
                        </div>

                        <label class="button-circle-label">Hoteles</label>
                    </a>
                </li>
                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-flights"></i>
                        </div>

                        <label class="button-circle-label">Vuelos</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-cars"></i>
                        </div>

                        <label class="button-circle-label">Autos</label>
                    </a>
                </li>
                <li class="header-autogestion-item header-autogestion-flag -header-separation">
                    <a class="header-autogestion-link">
                                <span class="header-image-container">
                                    <span class="flag-container">
                                        <span class="-ar eva-3-flag"></span>
                                </span>
                                </span>

                        <span class="header-container-text -eva-3-hide-medium -eva-3-hide-small">
                                    <span class="header-autogestion-title">Español</span>
                                </span>
                    </a>
                </li>
                <!--
                <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                    <a href="#" th:href="@{/task}">Tasks</a>
                </li>
                <li th:classappend="${module == 'tasks-ld' ? 'active' : ''}">
                    <a href="#" th:href="@{/task-ld}">Tasks (Layout Dialect) ??</a>
                </li>
                -->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signin}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Iniciar Sesion
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Cerrar Sesion
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
</div>

</body>
</html>