<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/css/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/eva/eva-core.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/eva/eva.min.css"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link rel="icon" type="image/png" href="../../../resources/images/favicon.ico" th:href="@{~/favicon.ico}">
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="products" th:align="center">
    <div class="header-corners-container -no-overflow ">

        <i class="eva-3-icon-arrow-bold-left header-arrow-first"></i>

        <i class="eva-3-icon-arrow-bold-right header-arrow-last"></i>

        <div class="header-products-container">
            <ul style="width: 1150px; transform: translate(0px, 0px);" class="header-list-products">
                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-hotels"></i>
                        </div>

                        <label class="button-circle-label">Hoteles</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-flights"></i>
                        </div>

                        <label class="button-circle-label">Vuelos</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-packages"></i>
                        </div>

                        <label class="button-circle-label">Paquetes</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-cars"></i>
                        </div>

                        <label class="button-circle-label">Autos</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-tickets"></i>
                        </div>

                        <label class="button-circle-label">Actividades</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-disney"></i>
                        </div>

                        <label class="button-circle-label">Disney</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-assistances"></i>
                        </div>

                        <label class="button-circle-label">Seguros</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-traslate"></i>
                        </div>

                        <label class="button-circle-label">Traslados</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-buses"></i>
                        </div>

                        <label class="button-circle-label">Micros</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-rentals"></i>
                        </div>

                        <label class="button-circle-label">Alquileres</label>
                    </a>
                </li>

                <li class="header-product-item">
                    <a class="eva-3-button-circle">
                        <div class="button-circle-icon">
                            <i class="eva-3-icon-cruises"></i>
                        </div>

                        <label class="button-circle-label">Cruceros</label>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
