<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ReservasYa!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <th:block th:replace="fragments/commons/styles :: link-styles">Links</th:block>

</head>
<body class="home-body">
<div th:replace="~{fragments/header :: header-wp}">Header</div>

<div class="container yellow-rectangle">
<form class="form-narrow form-horizontal" method="post" th:action="@{/checkout/fly}" th:object="${checkoutForm}" th:fragment="checkoutForm">
    <!--/* Show general error message when form contains errors */-->

    <fieldset>
        <legend>Por favor, completa el formulario</legend>

        <div class="form-group" >
            <label for="passengerName">Nombre Pasajero</label>
                <input type="text" class="form-control" id="passengerName" placeholder="Nombre Pasajero" th:field="*{passengerName}" required/>
        </div>

        <div class="form-group" >
            <label for="passengerLastName" >Apellido Pasajero</label>
                    <input type="text" class="form-control" id="passengerLastName" placeholder="Apellido" th:field="*{passengerLastName}" required/>
        </div>

        <div class="form-group" >
            <label for="dni" >Dni</label>
                    <input type="number" class="form-control" id="dni" placeholder="Numero de dni" th:field="*{dni}" th:min="0" th:max="99999999" required/>
        </div>

        <div class="form-group" >
            <label for="creditCardNumber" >Numero de tarjeta de credito</label>
                    <input type="number" class="form-control" id="creditCardNumber" placeholder="Numero de tarjeta" th:field="*{creditCard}" th:min="0" required />
        </div>

        <div class="form-group" >
            <label for="expirationDate" >Fecha Expiracion</label>
                    <input type="number" class="form-control" id="expirationDate" placeholder="Fecha expiracion" th:field="*{expirationDate}" th:min="0" required/>
        </div>

        <div class="form-group" >
            <label for="securityCode" >Codigo de seguridad</label>
                    <input type="number" th:min="0" th:max="999" class="form-control" id="securityCode" placeholder="Numero de seguridad" th:field="*{securityCode}" required/>
        </div>

        <div class="form-group" >
            <label for="points" th:text="${'Puntos a convertir ##(usted tiene ' + availablePoints} + ' puntos disponibles)##'">Puntos a convertir</label>
                    <input type="range" th:min="0" th:max="${availablePoints}" class="form-control" id="slider" placeholder="Puntos a convertir" th:field="*{pointsToConvert}" required/>
                    <output id="output"></output>
        </div>



        <div class="form-group">
            <div class="col-lg-offset-4 col-lg-10 -eva-3-center">
                <button type="submit" class="btn btn-primary">Finalizar Compra</button>
            </div>
        </div>

    </fieldset>
</form>
</div>
<footer class="eva-3-footer bottom-footer" th:insert="~{fragments/footer :: footer}">&copy; 2018 The Static Templates</footer>
<script  th:src="@{~/resources/js/jquery.min.js}"></script>
<script  th:src="@{~/resources/js/bootstrap.min.js}"></script>
<script  th:src="@{~/resources/js/searchBoxDisplay.js}"> </script>
<script  th:src="@{~/resources/js/sliderPoints.js}"> </script>
</body>
</html>
