<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="header-container-general" th:fragment="header">
<nav class="navbar navbar-expand eva-3-header navbar-dark bg-dark" >
    <a class="navbar-brand m-auto" href="#" th:href="@{/}">
        <img th:src="@{~/resources/images/ry_fav.png}" width="100" height="35" class="d-inline-block align-top" alt="">
        ReservasYa!
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container collapse navbar-collapse ">
        <ul class="nav navbar-nav m-auto">
            <li class="nav-item">
                <a class="eva-3-button-circle"  id="link-vuelos">
                    <div class="button-circle-icon -eva-3-icon-lg">
                        <i class="eva-3-icon-flights"></i>
                    </div>

                    <label class="button-circle-label">VUELOS</label>
                </a>
            </li>
            <li class="nav-item">
                <a class="eva-3-button-circle -eva-3-icon-lg"  id="link-hoteles">
                    <div class="button-circle-icon -eva-3-icon-lg">
                        <i class="eva-3-icon-hotels"></i>
                    </div>

                    <label class="button-circle-label text-lg-center">HOTELES</label>
                </a>
            </li>
            <li class="nav-item">
                <a class="eva-3-button-circle" id="link-autos">
                    <div class="button-circle-icon -eva-3-icon-lg">
                        <i class="eva-3-icon-cars"></i>
                    </div>

                    <label class="button-circle-label">AUTOS</label>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 m-auto">
              <input class="form-control mr-sm-2" type="search" placeholder="No funciona!" aria-label="Buscar">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <ul class="nav navbar-nav m-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" sec:authentication="principal.username"></a></li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/signin" th:href="@{/signin}">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Iniciar Sesion
                </a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Opciones
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" sec:authorize="!hasRole('ROLE_ADMIN')" href="/panel/user" th:href="@{/panel/user}">
                          Perfil Usuario
                      </a>
                      <a class="dropdown-item" sec:authorize="!hasRole('ROLE_USER')" href="/panel/admin" th:href="@{/panel/admin}">
                            Panel Administrador / Comercial
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/logout" th:href="@{#}" onclick="$('#formLogout').submit();">
                          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Cerrar Sesion
                          <form style="visibility: hidden" id="formLogout" method="post" action="#" th:action="@{/logout}"></form>
                      </a>
                </div>
        </ul>
    </div>
</nav>
</div>
<div class="header-container-general" th:fragment="header-wp">
<nav class="navbar navbar-expand eva-3-header navbar-dark bg-dark" >
    <a class="navbar-brand m-auto" href="#" th:href="@{/}">
        <img th:src="@{~/resources/images/ry_fav.png}" width="100" height="35" class="d-inline-block align-top" alt="">
        ReservasYa!
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container collapse navbar-collapse ">
        <form class="form-inline my-2 my-lg-0 m-auto">
              <input class="form-control mr-sm-2" type="search" placeholder="No funciona!" aria-label="Buscar">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <ul class="nav navbar-nav m-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" sec:authentication="principal.username"></a></li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/signin" th:href="@{/signin}">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Iniciar Sesion
                </a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Opciones
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" sec:authorize="!hasRole('ROLE_ADMIN')" href="/panel/user" th:href="@{/panel/user}">
                          Perfil Usuario
                      </a>
                      <a class="dropdown-item" sec:authorize="!hasRole('ROLE_USER')" href="/panel/admin" th:href="@{/panel/admin}">
                            Panel Administrador / Comercial
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/logout" th:href="@{#}" onclick="$('#formLogout').submit();">
                          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Cerrar Sesion
                          <form style="visibility: hidden" id="formLogout" method="post" action="#" th:action="@{/logout}"></form>
                      </a>
                </div>
        </ul>
    </div>
</nav>
</div>
</body>
</html>