<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <th:block th:fragment="link-styles">
     <link rel="icon" type="image/png" th:href="@{~/favicon.ico}">
     <link rel="stylesheet" type="text/css" media="screen" th:href="@{~/resources/eva/eva-core.min.css}"/>
     <link rel="stylesheet" type="text/css" media="screen" th:href="@{~/resources/eva/eva.min.css}"/>
     <link rel="stylesheet" media="screen" th:href="@{~/resources/css/bootstrap.css}"/>
     <link rel="stylesheet" media="screen" th:href="@{~/resources/css/bootstrap.min.css}"/>
     <link rel="stylesheet" type="text/css" media="screen" th:href="@{~/resources/css/main.css}"/>
     <link rel="stylesheet" media="screen" th:href="@{~/resources/css/core.css}" />
 </th:block>
</head>
<body>

</body>
</html>